.catalog__info{}

.catalog__navlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.catalog__navitem {
    border: 1px solid var(--bg-field);
    background: var(--bg-light);
    border-radius: 4px;
    transition: all .3s ease;
}
.catalog__navlink {
    display: block;
    padding: 8px 18px;
    text-decoration: underline!important;
    text-decoration-style: dotted!important;
    text-underline-offset: 4px;

}
.catalog__navitem:hover,
.catalog__navitem:active {
    background-color: var(--c-main);
    color: var(--text-light);
}

// cards

.catalog__products {
}
.catalog__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 13px;
}
.catalog__card {
    border-radius: 4px;
    background-color: var(--bg-light);
    border: 1px solid var(--bg-field);
    padding: 24px clamp(16px, 2.5vw, 32px);

}
.catalog__card-info {
    position: relative;
    display: grid;
    height: 100%;
}
.catalog__card-manufacturer {
    font-size: 12px;
    color: var(--text-footer);
    height: max-content;
}
.catalog__card-picture {
    align-self: start;
    justify-self: center;
    display: grid;
    place-items: center;
    margin-bottom: clamp(20px, 2vw, 30px);
}
.catalog__card-image {
    max-height: 195px;
    min-width: 100px;
    object-fit: contain;
}
.catalog__card-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}
.catalog__card-description {
    margin-bottom: 20px;
}
.catalog__card-price {
    align-self: end;
    font-size: 16px;
    font-weight: 600;
}
.catalog__card-form {
    display: none;
}
.catalog__form-label {
}
.catalog__form-text {
}
.catalog__form-checker {
}
.variations__cart-counter-section {
}
.variations__cart-counter {
}
.variations__counter--remove {
}
.variations__counter-button {
}
.variations__counter-text {
}
.variations__counter--add {
}
.variations__cart-button {
}
.button {
}
.button--small {
}

