.catalog__info {}

.catalog__navlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: clamp(20px, 2.5vw, 40px);
}

.catalog__navitem {
    border: 1px solid var(--bg-field);
    background: var(--bg-light);
    border-radius: 4px;
    transition: all .3s ease;
}

.catalog__navlink {
    display: block;
    padding: 8px 18px;
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-underline-offset: 4px;

}

.catalog__navitem:hover,
.catalog__navitem:active {
    background-color: var(--c-main);
    color: var(--text-light);
}

// cards



.catalog__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 13px;
}

.catalog__card {
    border-radius: 4px;
    background-color: var(--bg-light);
    border: 1px solid var(--bg-field);
    padding: 24px clamp(16px, 2.5vw, 32px);

    position: relative;
}

.catalog__card-info {
    position: relative;
    display: grid;
    height: 100%;
}

.catalog__card-manufacturer {
    font-size: 12px;
    color: var(--text-footer);
    height: max-content;
}
.catalog__card-link {
    display: grid;

}
.catalog__card-picture {
    align-self: start;
    justify-self: center;
    display: grid;
    place-items: center;
    margin-bottom: clamp(20px, 2vw, 30px);
}

.catalog__card-image {
    min-height: 190px;
    height: 190px;
    object-fit: contain;
}

.catalog__card-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    height: 4em;
    // высота заголовка в карточке, если заголовки будут обрезаться под длинне - уменьшить.
}

.catalog__card-description {
    margin-bottom: 20px;
}

.catalog__card-price {
    align-self: end;
    font-size: 16px;
    font-weight: 600;
}

// отвечает за показ и скрытие доп меню с  добавлением в корзину
// в мобильном варианте скрыта, вместо нее - ссылка на товар
.catalog__showmore {
    margin: 20px 0;
    max-width: 300px;
    justify-self: center;
    width: 100%;
}

.catalog__showmore--closed {
}
.catalog__showmore--open {
    display: none;
}

// Форма с добавлением товара в корзину

.catalog__card-form {
    position: absolute;
    bottom: 20px;
    left: -2px;
    transform: translateY(100%);
    z-index: 2;

    background-color: var(--bg-light);
    box-shadow: 0px 21px 11px -7px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border: 1px solid var(--bg-field);
    border-radius: 0 0 4px 4px;
    width: calc(100% + 3px);
    padding: 24px clamp(16px, 2.5vw, 32px);

    display: none;
}

.catalog__card-form:first-child {
    display: block;
}

.catalog__form-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--bg-field);

}

.catalog__form-section__title {
    padding: 10px 0;
}

.catalog__form-label {
    padding: 10px;
    padding-left: 2em;
    color: var(--text-medium);
    position: relative;
}


.catalog__form-checker {
    position: absolute;
    width: 8px;
    height: 6px;
    top: 50%;
    left: 0;
    transform: translateY(-60%);
}

.catalog__form-checking {
    display: none;
}

.catalog__form-checking:checked~.catalog__form-text {
    color: red;
    font-weight: 600;
}

.catalog__form-checking:checked~.catalog__form-checker{
    background-image: url(../../../../img/icons/icon_arrow--red.svg);
}


.catalog__form-text {}

.catalog__card-form {

    .variations__cart-counter-section {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .variations__cart-counter {
        font-size: 16px;
    }

    .variations__cart-button {
        padding: 10px;
    }
}
.catalog__linkto {
    display: none;
}
@media (max-width: 768px) {
    .catalog__cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .catalog__info {
        width: 100%;
    }
    

}
@media (max-width: 520px) {
    .button.catalog__linkto {
        display: inline-block;
        text-align: center;
        color: var(--text-light);
        max-width: 300px;
        width: 100%;
        justify-self: center;
        margin-top: 20px;
    }
    .catalog__card-manufacturer,
    .catalog__showmore {
        display: none;
    }

    .catalog__cards {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .catalog__card-info {
        padding: 30px;
    }
    // .catalog__card-picture {
    //     order: 1;
    // }
}