.product__specification {}


@media (max-width: 768px) {
    .product__specification {
        background-color: var(--bg-light);
        padding: 20px 20px;
    }

    .product__heading-button,
    .product__heading-share {
        display: none;
    }

    .product__heading-info {
        flex-direction: column-reverse;
    }

}