.product__features-using {
    margin-bottom: clamp(13px, 2vw, 26px);
}
// .product__using {
// }
.product__using-description {
    margin-bottom: .5em;
}
// .product__using-list {
// }
.product__using-item {
    margin-left: 2em;
    list-style-type: disc;
}