.product__table {
    border-collapse: collapse;
    text-align: center;
    font-size: clamp(8px, .7vw, 10px);  
    width: 100%;
    margin-bottom: clamp(20px, 2.5vw, 40px);
}

// .product__table-title {
//     display: none;
// }
.product__table-heading,
.product__table-row,
.product__table-data {
    border: 1px solid var(--text-footer);
    padding: 8px;
    text-align: center;
}

.product__table-row:not(:first-child):nth-child(odd) {
    background-color: var(--bg-field);
}
.product__table-data {
}
.product__table-heading {
    text-wrap: nowrap;
}

.product__table-button {
    display: flex;
    max-width: 420px;
    margin: auto;
    font-weight: 500;
}


@media (max-width: 1400px) {
    .product__table {
       .desktop-view {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .product__features-table {
        border-bottom: 1px solid var(--text-footer);
    }

    .product__table-title {
        padding-top: 20px;
        display: block;
        max-width: 70vw;
    }
    .product__table-button {
        margin: 20px auto;
    }
}
