.main-product__questions {
    background-color: var(--bg-light);
    padding-bottom: clamp(20px, 4.3vw, 60px);
}

.questions {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 26% 67%;
    column-gap: 7%;
    margin-bottom: clamp(20px, 2.5vw, 40px);
}

.questions__title {
    grid-column: 1 /-1;
}

.questions__help {
    border: 3px solid var(--bg-field);
    border-radius: 6px;
    padding: clamp(13px, 1.9vw, 26px);
    height: max-content;
}
.questions__help-title {
    max-width: 228px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.questions__help-text {
    font-size: 13px;
    color: var(--text-medium);
    max-width: 228px;
    margin-bottom: clamp(20px, 2.5vw, 40px);
}
.questions__help-button {
    width: 228px;
    padding: 14px;
    max-width: 100%;
    font-weight: 500;
}

// questions - answers & form section
.questions__form {
    margin-bottom: 20px;
}

.questions__form-list {
    border-bottom: 1px solid var(--bg-field);
    padding-bottom: clamp(20px, 2.5vw, 40px);
}

.question__heading {
    margin-bottom: 20px;
}
.question__name {
    font-size: clamp(13px, 2vw, 16px);
    font-weight: 600;
    margin-right: clamp(20px, 2.5vw, 40px);
}

.question__reply {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 20px;
    margin-left: 1em;
}

.question__name--admin {
    font-weight: 600;
    color: var(--c-main);
}
.question__answered-name {
    font-weight: 600;
    color: var(--text-dark);
}

//----------------------форма отправки сообщения------------------




.answer-form {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    max-width: 502px;

    margin: 0;
    height: 0px;
    opacity: 0;
    transition: opacity .7s ease, height .5s ease;
}

.answer-form--showed {
    height: max-content;
    opacity: 1;
}



.answer-form-label {
    padding: 1em 0;
    font-weight: 600;
}

.answer-form__reply {
    resize: none;
}
.answer-form__field {
    background-color: var(--bg-field);
    border-radius: 4px;
    padding: 14px;
    font-size: 13px;
}

.answer-form__email,
.answer-form__name {
    width: 100%;
    max-width: 375px;
}
.answer-form__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: clamp(20px, 2.5vw, 40px);
}
.answer-form__submit {
    padding: 14px 40px;
    font-weight: 500;
    
}
.answer-form__cancel {
    padding: 14px 40px;
}

.questions__show-all-button {
    margin: clamp(20px, 2.5vw, 40px) 0;
    min-width: 218px;
    font-weight: 500;
}

.questions__viewed-slider {
    // padding: clamp(20px, 2.5vw, 40px);

    .splide__arrow {
        margin: 0;
    }
}

.questions__form .splide__arrow {
    display: none;
}

// логика открытия ответов
.question__answers {
    display: flex;
    flex-direction: column;
}
.question__answers,
.question__reply {
    height: 0;
    opacity: 0;
}


.question__reply--open {
    height: auto;
    opacity: 1;
    width: -moz-available;
}

.question__answers--visible {
    height: max-content;
    opacity: 1;
}

.show-modal-checkbox:checked ~ .question__answers {
    .question__reply--open {
        height: auto;
        opacity: 1;
        width: -moz-available;
    }
}

.answers__menu {
    color: var(--text-medium);
    display: inline;
}
.answer__modal,
.answer__modal-reply,
.question__answer-reply {
    color: var(--text-medium);
    display: inline-block;
    padding: 24px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
        color: var(--c-main);
    }
}

@media( max-width: 768px) {
    .questions {
        padding: 0 clamp(20px, 2.5vw, 30px);
        grid-template-columns: 1fr;
        
    }
    .questions__form {
        order: 1;

        display: grid;
    }

    .questions__form-list {
        width: calc(100vw - 40px);
    }
    .question__heading { 
        max-width: 90vw;
    }
    .questions__help {
        order: 2;
        display: grid;
        place-items: center;
    }
    .questions__help-text {
        max-width: 80%;
        font-size: clamp(13px, 2.4vw, 16px);
        text-align: center;
    }

    .answer-form {
        max-width: calc(90vw - 3em - 20px);
        margin-left: 0;
    }

    .answer-form__buttons {
        justify-content: space-between;
    }

    .questions__show-all-button {
        margin: clamp(20px, 2.5vw, 40px) auto;
        max-width: 280px;
    }
}

@media( max-width: 520px) {

    .questions__question .answer-form {
        pointer-events: none;
    } 

    .questions__form .splide__arrow {
        display: flex;
        margin: 0;
    }

    .question__answers {
        height: 0;
    }

    .question__reply {
        height: 0;
        opacity: 0;
    }
    .answer__modal-reply {
        display: none;
    }

    .questions__question {
        background-color: var(--bg-field);
        padding: 14px 36px;
        border-radius: 4px;

        display: flex;
        flex-direction: column;
    }

    .answers__menu {
        margin-top: auto;
        color: var(--text-medium);
        display: block;
        &:hover {
            color: var(--c-main);
        }
    }
    .answer__modal {
        align-self: end;
        display: flex;
        padding: 20px 0;
        justify-content: space-between;
        width: 100%;

    }
    .answer__modal-text {
        margin-right: auto;
    }
    .answer__modal-counter {
        position: relative;
    }
    .answer__modal-counter::before {
        position: absolute;
        content: "";
        top: 2px;
        left: -20px;
        width: 12px;
        height: 16px;
        background-image: url('../../../../img/icons/icon_answer.svg');
    }
}


