:root {

    --c-main: #1a98d5;
    --c-main-hover: #1c8dc4;
    --c-light--medium: #f7f7f7;
    --c-accent: #b32127;
    --c-dark: #333333;

    --bg-light: #ffffff;
    --bg-medium: #f7f7f7;
    --bg-field:  #eaeaea;


    --text-dark: #2c2c2c;
    --text-light: #ffffff;
    --text-meduim: #6b6b6b;
    --text-footer: #c2c2c2;

}