:root {

    --c-main: #1a98d5;
    
    --c-light--medium: #f7f7f7;
    --c-accent: #b32127;
    --c-accent-bright: #cc1d24;
    --c-dark: #333333;
    --c-hover: #1c8dc4;

    --bg-light: #ffffff;
    --bg-medium: #f7f7f7;
    --bg-field:  #eaeaea;

    --bg-counter--mob:  #1AD536;

    
    --border-light: #e5e5e5;


    --text-dark: #2c2c2c;
    --text-light: #ffffff;
    --text-medium: #6b6b6b;

    --text-footer: #c2c2c2;
    --text-header: #585858;

}

.colored--main {
    color: var(--c-main);
}