// настройки слайдеров в мобильной версии
@media ( max-width: 768px) {

      
      .my-slider-progress-bar {
        background: var(--c-main);
        height: 3px;
        transition: width 400ms ease;
        width: 0;
      }

      // arrows 
    .splide__arrows {
        position: absolute;
        top: 40%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform:translateY(-50%);
        z-index: 2;
        pointer-events: none;
    }
    .splide__arrow {
        width: 29px;
        height: 29px;
        background-position: center;
        margin: 10px;
        pointer-events: auto;
    }
    .splide__arrow--prev:hover {}
    .splide__arrow--next:hover {}

    .splide__arrow--bg {
        fill: var(--bg-light);
    }
    .splide__arrow--img {
        fill: var(--text-medium);
    }
    .splide__arrow:hover .splide__arrow--img { 
        fill: var(--c-main);
    }
    .splidde__arrow:disabled .splide__arrow--img,
    .splidde__arrow:disabled .splide__arrow--bg {
        fill: none;
    }

}