.side-menu {
    max-width: 267px;
    background-color: var(--bg-light);
    box-shadow: 0px 5px 5px 0px var(--bg-field);
    transition: all 0.3s ease;
    height: max-content;
}

.side-menu__heading {
    background-color: var(--c-main);
    color: var(--text-light);
    
    padding: clamp(12px, 1.7vw, 24px);
}
.side-menu__heading--desktop {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 6px;
}

.side-menu__list {
    padding: 10px 0;
    background-color: var(--bg-light);
    font-weight: 500;
    margin-left: 0;
    list-style: none;
}
.side-menu__item {
    padding: 14px clamp(26px, 2.1vw, 40px);
    transition: all .3s ease;
}
.side-menu__item:hover,
.side-menu__item:active {
    background-color: var(--bg-medium);
    color: var(--c-accent);
    transition: all .3s ease;
}

@media (max-width: 768px) {
    .side-menu__item {
        padding: 20px clamp(26px, 2.1vw, 40px);
    }
}