.main__payment {
}
.payment__heading {
    padding: 20px;
}

.payment__info {
    background-color: var(--bg-light);
    border-radius: 4px;
    padding: clamp(20px, 3vw, 50px) 20px;

    font-size: clamp(13px, 2vw, 16px);
    line-height: 1.5;

    margin-bottom: clamp(20px, 2.5vw, 40px);
}
.payment__text {
    margin-bottom: clamp(20px, 2.5vw, 40px);

}
.payment__list {
    margin-left: 3em;
    line-height: 1.5;
    margin-bottom: clamp(20px, 2.5vw, 40px);

}
.payment__item {
    list-style-type: disc;

}
