.header__burger-menu {
    opacity: 0;
    
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform .3s ease, opacity .1s linear;
}


.burger__products-list {
    width: 100%;
    position: relative;
}

.burger__products-item {
    width: 100%;
}

.burger__products-title {
    display: inline-block;
    padding: 20px 27px;
    width: 100%;
    border-bottom: 1px solid var(--text-footer);

    &:hover {
        color: var(--c-main);
    }
}

.burger__submenu {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.burger__submenu::after {
    content: "";
    width: .5em;
    height: .5em;
    border-right: 2px solid var(--text-dark);
    border-top: 2px solid var(--text-dark);
    margin-left: 20px;
    transform: rotate(45deg);
    transition: all 0.1s ease;
}

.burger__products-sublist {
        
    position: absolute;
    transform: translateX(-100%);
    transition: all .3s ease;
    
}
.burger__products-sublist:first-child {
    display: block;
}

.burger__products-subitem {}

.header__submenu-back {
    color: var(--text-medium);
    display: flex;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
    &:active {
        color: var(--c-main);
    }
}
.header__submenu-back::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 12px;
    background-image: url('../../../img/icons/icon_arrow--back.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.header__submenu-title {
    background-color: var(--bg-field);
    color: var(--c-main);
    font-weight: 600;
}

.burger__products-link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.burger__contacts-list {
    background-color: var(--bg-medium);
}

.burger__contacts-item {}

.burger__phone {
    font-weight: 600;
}
.burger__phone::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../../../img/icons/icon_phone--grey.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.burger__email::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../../../img/icons/icon_mail--grey.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.burger__contacts-info {}

.burger__user-list {}

.burger__user-item {}

.burger__user::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../../../img/icons/icon_person--grey.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.burger__cart:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../../../img/icons/icon_basket--grey.svg');
    background-position: center;
    background-repeat: no-repeat;
}



@media (max-width: 768px) {


    .header__burger-menu--show {
        opacity: 1;
        transform: translateX(0%);

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 75%;
        box-shadow: 2px 2px 12px 0px var(--bg-field);
        background-color: var(--bg-light);

        z-index: 5;
    }

    // .burger__products-list,
    // .burger__contacts-list,
    // .burger__user-list {
    //     z-index: 6;

    // }

    // добавляется через js
    .header__burger-overlay {
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .2);
        transition: all .3s ease;
        backdrop-filter: blur(1px);
    }

    
    .burger__products-sublist--show {
        display: block;
        position: absolute;
        transform: translateX(0%);
        top: 0;
        height: 0;
        width: 75vw;
        height: 100%;
        background-color: var(--bg-light);
        box-shadow: 2px 2px 12px 0px var(--bg-field);
        z-index: 1;
    }

}