.header__bottom-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    font-weight: 500;
    margin-left: 0;
    list-style : none;
}
.header__bottom-item {
    padding: 0;
    &:hover,
    &:active {
        background-color: var(--bg-medium);
        color: var(--c-accent);
    }
}

.header__bottom-link {
    display: inline-block;
    padding: 20px 6px;
    color: var(--text-dark);
}

.header__bottom-item--additional {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__bottom-item--additional svg {
    transition: all .3s ease;
    margin-left: 5px;
}

.header__bottom-item--additional:hover,
.header__bottom-item--additional:active {
    & svg {
        transform: rotate(180deg);
    }
}

.header__bottom-item--additional .header__sublist {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-80%);
    visibility: hidden;
    opacity: 0;
    padding: 15px 0;
    background-color: var(--bg-light);
    box-shadow: 0px 5px 5px 0px var(--bg-field);
    color: var(--text-dark);
    transition: all .3s ease;
    width: max-content;
    z-index: 2;

    text-align: start;
}

.header__bottom-item--additional:hover .header__sublist,
.header__bottom-item--additional:active .header__sublist {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}

.header__bottom-item--additional .header__subitem:hover {
    font-weight: 600;
}

.header__bottom-content .mobile-view {
    display: none;
}


@media (max-width: 768px) {
    .header__bottom .header__bottom-content {
        padding: 20px clamp(10px, 2.6vw, 20px);
    }
    .header__bottom-content {
        
        .mobile-view {
            display: inline-block;
        }
        .header__bottom-title {
            margin: .5rem auto;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            width: 100%;
            position: relative;
            margin-bottom: .8em;

        }
        .header__bottom-title::after {
            position: absolute;
            content: "";
            margin-left: 10px;
            width: .5em;
            height: .5em;
            border-bottom: 2px solid var(--c-main);
            border-right: 2px solid var(--c-main);
            top: 50%;
            transform: rotate(-45deg) translateY(-50%);
        }
        .header__bottom-list {
            flex-direction: column;
            height: 0px;
            opacity: 0;
            transition: all .3s ease;
            text-align: start;
        }
        .header__bottom-item:first-child {
            border-top: 1px solid var(--text-footer);
        }
        .header__bottom-item {
            border-bottom: 1px solid var(--text-footer);
        }

        .header__bottom-checkbox:checked ~ .header__bottom-list {
            height: auto;
            opacity: 1;
        }
        .header__bottom-item--additional {
            justify-content: center;
        }
        .header__sublist {
            left: 50%;
            transform: translateX(-50%);
            padding: clamp(15px, 7vw, 25px);
        }
        .header__subitem {
            max-width: 80vw;
        }
    }
}

@media (max-width: 520px) {
    .header__bottom-item--additional {
        display: none;
    }
}
