.header__top {
    background-color: var(--c-main);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light);
    gap: 20px;
}

.header__navlist {
    display: flex;
    align-items: center;
}

.header__navitem {
    transition: all .3s ease;
    text-align: center;
    height: 100%;
}
.header__profile:hover,
.header__profile:active,
.header__navitem:hover,
.header__navitem:active {
    background-color: var(--c-hover);
    transition: all .1s ease;
}

.header__navlink {
    color: inherit;
    display: inline-block;
    padding: 20px clamp(8px, 1vw, 15px);
}

// подменю
.header__navlink--additional {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__navlink--additional svg {
    margin-left: 5px;
    fill: (--text-light);
    transition: all .1s ease;
}

.header__navlink--additional:hover,
.header__navlink--additional:active {
    & svg {
        transform: rotate(180deg);
    }
}

.header__sublist {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    padding: 15px 0;
    background-color: var(--bg-light);
    box-shadow: 0px 5px 5px 0px var(--bg-field);
    transition: all .3s ease;
    z-index: 2;
    color: var(--text-dark);
    text-align: start;
}

.header__navlink--additional:hover .header__sublist,
.header__navlink--additional:active .header__sublist {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}

.header__subitem {
    padding: 15px 40px;
    transition: all .3s ease;
}

.header__subitem:hover, 
.header__subitem:active {
    background-color: var(--bg-medium);
    transition: all .3s ease;
    font-weight: 500;
}

.header__sublink {
    color: var(--text-dark);
}

// профиль

.header__profile {
    display: flex;

    gap: 14px;
    align-items: center;
    color: var(--text-light);
    cursor: pointer;
}



.profile__name {
    padding: 20px clamp(8px, 1vw, 15px);
    color: inherit;
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
}

.profile__icon {
    display: inline-block;
    width: 15px;
    height: 18px;
    fill: var(--text-light);
    margin-left: 13px;
}

.profile__icon svg {
    fill: var(--bg-light);
}

.header__top-checklabel {
    display: none;
}

.header__top-checkbox {
    display: none;
}



@media (max-width: 768px) {
    .header__top {
        display: none;
        position: relative;
        border-radius: 0 0 20px 20px;
    }

    .header__profile:hover,
    .header__finder-button:hover, 
    .header__finder-button:active {
        background-color: unset;
    }
    .header__finder:hover svg,
    .header__profile:hover svg,
    .average__contacts-calls:hover svg {
        fill: var(--bg-field);
    }

    .profile__icon {
        margin-left: 0px;
    }

    .header__finder-chekbox:checked ~ .header__finder-field {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        padding: 8px;
        background-color: var(--bg-field);
        border-radius: 4px;
        z-index: 5;

        // сделать чекер
    }

}



