.header__top {
    background-color: var(--c-main);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light);
    gap: 20px;
}

.header__navlist {
    display: flex;
    align-items: center;
}

.header__navitem {
    padding: 20px clamp(8px, 1vw, 15px);
    transition: all .3s ease;
    text-align: center;
    height: 100%;
}

.header__navitem:hover,
.header__navitem:active {
    background-color: var(--c-hover);
    transition: all .1s ease;
}

.header__navlink {
    color: inherit;
}

// подменю
.header__navlink--additional {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__navlink--additional::after {
    content: '';
    width: 5px;
    height: 5px;
    border-right: 3px solid var(--bg-light);
    border-top: 3px solid var(--bg-light);
    transform: rotate(135deg);
    transition: all .1s ease;
}

.header__navlink--additional:hover,
.header__navlink--additional:active {
    &::after {
        transform: rotate(315deg);
    }
}

.header__sublist {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    padding: 15px 0;
    background-color: var(--bg-light);
    box-shadow: 0px 5px 5px 0px var(--bg-field);
    transition: all .3s ease;
    z-index: 2;
    color: var(--text-dark);
}

.header__navlink--additional:hover .header__sublist,
.header__navlink--additional:active .header__sublist {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}

.header__subitem {
    padding: 15px 40px;
    transition: all .3s ease;
}

.header__subitem:hover, 
.header__subitem:active {
    background-color: var(--bg-medium);
    transition: all .3s ease;
    font-weight: 500;
}

.header__sublink {
    color: var(--text-dark);
}

// профиль

.header__profile {
    display: flex;

    gap: 14px;
    align-items: center;
    color: var(--text-light);
    cursor: pointer;
    padding: 20px clamp(8px, 1vw, 15px);
}

.header__profile:hover,
.header__profile:active {
    background-color: var(--c-main-hover);
}

.profile__name {
    color: inherit;
}

.profile__icon {
    display: inline-block;
    width: 15px;
    height: 18px;
}

.profile__icon svg {
    fill: var(--bg-light);
}

.header__top-checklabel {
    display: none;
}

.header__top-checkbox {
    display: none;
}



@media (max-width: 768px) {
    .header__top {
        position: relative;
        border-radius: 0 0 20px 20px;
    }

    //------------------ выпадающее меню
    .header__top-checklabel {
        display: block;
        position: absolute;
        top: 40px;
        left: 20px;
        width: 20px;
        height: 15px;
        
        & svg {
            fill: var(--text-dark);
        }
    }
    .header__top-checkbox:checked + .header__top-checklabel svg{
        fill: red;
    }

    .header__top-checkbox:checked ~ .header__content {
        height: auto;
        visibility: visible;
        opacity: 1;
    }

    .header__content {
        top: 0;
        height: 0;
        visibility: hidden;
        opacity:0;
        flex-direction: column;
        color: var(--text-light);
        z-index:2;
    }

    .header__nav {
        padding-top: 2em;
        width: 100%;
    }
    .header__navlist {
        flex-direction: column;
    }

    .header__navitem {
        width: 100%;
        padding: clamp(12px, 2vw, 16px);
        border-bottom: 1px solid var(--bg-light);
    }

    .header__navlink--additional {
        justify-content: center;

        .header__sublist {
            left: 50%;
            transform: translateX(-50%);
            max-width: 80vw;
        }
    }


}