.header__average {
    border-bottom: 1px solid var(--c-light--medium);
    padding: 20px 25px;
    position: relative;
}

.header__average-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(16px, 2.4vw, 32px);
}

.average__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(16px, 2.4vw, 32px);
    flex-wrap: wrap;
}

//-----------------------logo-----------------------
.header__logo {
    max-width: 227px;
    padding-left: 20px;
    justify-self: center;
}


//-----------------------title-----------------------
.average__title {
    color: var(--text-header);
    margin-right: clamp(20px, 3vw, 54px);
}
//-----------------------contacts-----------------------
.average__contacts {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 1.2vw, 16px);
}
.average__contacts-heading {
    padding-left: 30px;

}
.average__contacts-calls {
    padding-left: 30px;
    display: flex;
    gap: 15px;
    position: relative;
}

.header__phone-icon {
    position: absolute;
    fill: var(--text-footer);
    left: 0px;
}

.average__contacts--phone {
    font-weight: 600;
    color: var(--text-dark);
    transition: all .3s ease;
    
    &:hover,
    &:active {
    color: var(--text-header);
    text-decoration: underline;
    text-decoration-style: dotted;
    }
}
.average__contacts--whatsapp {
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 7px;
    background-image: url(../../img/icons/icon_whatsapp.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.average__contacts--telegram {
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 7px;
    background-image: url(../../img/icons/icon_telegram.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.average__contacts-email {
    padding-left: 30px;
    position: relative;

    &:hover {
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}
.header__mail-icon {
    position: absolute;
    fill: var(--text-footer);
    left: 0px;
    top: 2px;
}
.average__contacts--mail {
    color: inherit;
    text-decoration: underline;
}

//-----------------------finder-----------------------
.header__finder {
    background-color: var(--bg-field);
    width: clamp(240px, 27vw, 380px);
    padding: clamp(8px, 1.2vw, 12px);
    border-radius: 4px;
    position: relative;
}
.header__finder-field {
    width: 90%;
}
.header__finder-button {
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 4px;
    width: clamp(20px, 2.5vw, 32px);
    height: clamp(20px, 2.5vw, 32px);
    background-color: var(--c-main);
    display: grid;
    place-items: center;
    
    &:hover,
    &:active {
        background-color: var(--c-hover);
    }
}
.header__finder-label {
    display: grid;
    place-items: center;
}

.header__finder-icon {
    fill: var(--bg-light);
}

//-----------------------cart-----------------------

.header__cart {
     display: flex;
     gap: 16px;
    //  align-items: center;
}
.header__cart-icon {
    position: relative;
    height: 100%;
    display: grid;
    place-items: center;
}

.cart-icon {
    margin-top: 3px;
    display: block;
    min-width: 31px;
    min-height: 27px;
}

.cart-icon--empty {
    fill: var(--c-accent-bright);
}
.cart-icon--full {
    fill: var(--bg-counter--mob);
}

.cart-icon--empty:hover,
.cart-icon--full:hover {
    fill: var(--c-main);
}
.header__cart-counter {
    position: absolute;
    display: grid;
    place-items: center;
    width: 2em;
    height: 2em;
    text-align: center;
    top: -16px;
    right: -12px;
    background-color: var(--bg-field);
    border: 2px solid #fff;
    border-radius: 50%;
}
.header__cart-description {

}
.header__cart-text {
}
.header__cart-text--unactive {
    color: var(--text-meduim);
}

.header__average-content .mobile-view {
    display: none;    
}


.header__burger-button {
    display: none;
}



//----------------Мобильная версия

@media (max-width: 768px) {
    .header__burger-button {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 30px;
        left: 20px;
        & svg {
            fill: var(--text-dark);
            &:hover,
            &:active {
                fill: var(--c-main);
            }
        }
    }


    .header__average {
        padding: 0;
        padding-top: 24px;
    }
    .header__average-content .desktop-view {
        display: none;
    }
    .header__average-content .mobile-view {
        display: initial;
    }
    .header__average-content {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .average__info {
        background-color: var(--c-main);
        width: 100%;
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    // Логитип
    .header__logo {
        grid-column: 1 / -1;
        max-width: 150px;
        margin-bottom: 12px;
    }
    .average__contacts-calls {
        padding: 0;
    }

    //Иконки

    .header__phone-icon,
    .header__finder-icon,
    .profile__icon {
        width: 20px;
        height: 20px;
        fill: var(--bg-light);
        position:static;
    }


    // поиск
    .header
    .header__finder {
        padding: 0;
        width: min-content;
        margin: 20px;
    }
    .header__finder-field {
        width: 0;
    }
    .header__finder-button {
        right: unset;
    }

    .average__info {
        .header__profile,
        .average__contacts,
        .header__cart {
        padding: 10px;
        }
    }

    // корзина
    .header__cart-icon svg {
        fill: var(--bg-light);
        width: 25px;
        min-width: unset;
        min-height: unset;

        &:hover {
            fill: var(--border-light);
        }
    }

    .header__cart-counter {
        font-size: 11px;
        color: var(--text-light);
        background-color: var(--bg-counter--mob);
        top: -8px;
    }
    
}