.index-main__catalog-forsunki {
    margin-bottom: clamp(32px, 4.5vw, 60px);

}

.catalog-forsunki__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 500;
    margin-left: 0;
    list-style: none;
}

.catalog-forsunki__item {
    background-color: var(--bg-light);
    padding: clamp(10px, 2vw, 20px) clamp(5px, 2vw, 16px);

    border: 1px solid var(--bg-medium);
}

.catalog-forsunki__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: clamp(10px, 2vw, 20px);

    align-items: center;
    justify-content: space-between;
}

.catalog-forsunki__picture {
    display: grid;
    place-items: center;
    height: 100%;
}
.catalog-forsunki__img {
    width: clamp(100px, 18vw, 150px);
}

.catalog-forsunki__item-title {
    text-align: center;
    transition: all .3s ease;
}
.catalog-forsunki__link:hover .catalog-forsunki__item-title {
    transition: all .3s ease;
    color: var(--c-accent);
    }

.catalog-forsunki__item--arrow {
    display: inline-block;
    width: 8px;
    height: 6px;
    background-image: url(../../../../img/icons/icon_arrow.svg);
    margin-left: 10px;
}

.catalog-forsunki__item-button,
.catalog-forsunki__item-counter {
    display: none;
}

.catalog-forsunki .splide__arrows {
        visibility: hidden;
    }

@media (max-width: 1024px) {
    .catalog-forsunki__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {

    .index-main__catalog-forsunki {
        order: 1;

        .desktop-view {
            display: none;
        }
    }
    .catalog-forsunki__item-button,
    .catalog-forsunki__item-counter {
        display: inline-block;
    }

    .catalog-forsunki__link {
        padding: 25px;
    }

    .catalog-forsunki__item {
        border-radius: 10px;
    }
    .catalog-forsunki__item-title {
        font-size: clamp(13px, 4vw, 18px);
        font-weight: 500;
        max-width: 50vw;
    }

    .catalog-forsunki__item-button {
        background-color: var(--c-main);
        color: var(--text-light);
        padding: clamp(7px, 2.2vw, 14px) clamp(20px, 6.2vw, 30px);
        border-radius: 4px;
    }
    .catalog-forsunki__item-button:hover  {
        background-color: var(--c-hover);
    }
    
    

    // настройка под слайдер
    .catalog-forsunki {
        margin: clamp(10px, 3.2vw, 20px) auto;
        width: 90vw;

        .splide__arrows {
            visibility: visible;
        }
        .splide__arrow {
            margin: 0
        }
        .my-slider-progress-bar {
            margin: clamp(16px, 2vw, 24px) 0;
        }
    }

    .catalog-forsunki__img {
        width: clamp(100px, 18vw, 150px);
    }

}