.index-main__catalog-culture {
    grid-column: 2 / -1;
}

.catalog-culture__title {
    display: none;
}
.catalog-culture__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-weight: 500;
    gap: 1.5rem;
    padding-top: 5px;
}

.catalog-culture__link {
    transition: all .3s ease;
    
}
.catalog-culture__link:hover .catalog-culture__img {
    transition: all .2s ease;
    border-radius: 4px;
    outline: 3px solid var(--c-main);
}


.catalog-culture .splide__arrows {
    visibility: hidden;
}

@media (max-width: 1200px) {
    .catalog-culture__list {
        grid-template-columns: repeat(4, 1fr);
    }
}

.catalog-culture__item {
    // padding: clamp(12px, 2vw, 30px);
}

.catalog-culture__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: clamp(12px, 1vw, 15px);
}

.catalog-culture__picture {
    width: 100%;
    display: grid;
    place-items: center;
}

.catalog-culture__img {
    width: clamp(100px, 18vw, 150px);
    border-radius: 5px;
}

.catalog-culture__item-title {
    max-width: 90%;
    text-wrap: wrap;
    text-align: center;
}

@media (max-width: 1024px) {
    .catalog-culture__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .catalog-culture__img {
        width: clamp(130px, 20vw, 150px);
    }
}

@media (max-width: 768px) {
    .index-main__catalog-culture {
        grid-column: 1/-1;
        width: 100vw;
        order: 3;

        .my-slider-progress-bar {
            max-width: 90vw;
            margin: clamp(16px, 2vw, 24px) 0;
            margin-left: 5vw;
        }

    }
    .catalog-culture__title {
        display: block;
        margin: 1rem auto;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        width: 100%;
        position: relative;
    }
    .catalog-culture__img {
        width: 150px;
    }

    .catalog-culture__item {
        padding: clamp(12px, 2vw, 30px) 0;
    }
    .catalog-culture .splide__arrows {
        visibility: visible;
    }
}
@media (max-width: 520px) {
    .catalog-culture__list {
        width: 92vw;
        gap: 5px;
    }
    .catalog-culture__img {
        width: clamp(140px, 40vw, 150px);
    }
}
