// -------------------DESKTOP-------------------

.index-main__side-img--mob {
    display: none;
}
.side-menu__heading--mob {
    display: none;
}
.index-main__side-counter--mob {
    display: none;
}

// -------------------MOBILE-------------------

@media (max-width: 768px) {

    .container {
        padding: 0;
    }
    
    .side-menu.index-main__side-menu {
        order: 2;
        width: 100vw;
        box-sizing: border-box;
        max-width: 100%;
        background-color: var(--c-main);
        box-shadow: unset;
        transition: all 0.3s ease;
        padding: 30px clamp(10px, 4vw, 28px);
        font-size: clamp(13px, 2.5vw, 16px);
        
    }

    .side-menu__heading--desktop {
        display: none;
    }
    .side-menu__heading--mob {
        display: inline-block;
        text-transform: initial;
        text-align: start;
    }
    .index-main__side-list {
        padding:  0;
    }
    .index-main__side-item {
        display: flex;
        box-sizing: border-box;
        gap: 22px;
        border: 1px solid var(--border-light);
        border-collapse: collapse;
        margin-bottom: -1px;
    }

    .index-main__side-img--mob {
        display: inline-block;
    }
    .index-main__side-counter--mob {
        display: inline;
    }
}