.index-main {
}
.mainpage {
}

.index-main__grid {
    display: grid;
    gap: clamp(15px, 2.2vw, 30px);
    grid-template-columns: auto auto;
    margin-bottom: clamp(20px, 10vw, 60px);
}

@media (max-width: 768px) {
    .index-main__grid {
        gap: unset;
        grid-template-columns: 1fr;
    }
}