.navigation__side-menu {
    border-radius: 4px;
    padding-bottom: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.navigation__side-list {
    border-bottom: 1px solid var(--bg-field);
}

.navigation__side-button.button--small {
    display: block;
    text-align: center;
    margin: 30px 13px 0 13px;
    color: var(--text-light);
}

.navigation__side-additional-list {
    background-color: var(--bg-medium);
    max-width: 267px;
    margin-bottom: 30px;
    margin-left: 0;
    list-style: none;
}
.navigation__side-additional-item {
    padding: 14px clamp(18px, 2.1vw, 40px) 14px 14px;
    font-weight: 600;
    transition: all .3s ease;
}
.navigation__side-additional-item:hover {
    color: var(--c-accent);
    background-color: var(--bg-light);
}

.navigation__side-additional-link {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    justify-content: start;
}
.navigation__side-arrow {
    display: inline-block;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .navigation__aside {
        display: none;
    }
}
